@model IEnumerable<MyShop.Web.Models.ProductCategoryViewModel>
<div class="header" id="header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-left">
                <ul class="support">
                    <li><a href="#"><label> </label></a></li>
                    <li><a href="#"><span class="live"> Hỗ trợ </span>24x7 live</a></li>
                </ul>
                <ul class="support">
                    <li class="van"><a href="#"><label> </label></a></li>
                    <li><a href="#">Miễn phí vận chuyển <span class="live">hóa đơn trên 500.000</span></a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="top-header-right">
                <div class="down-top">
                    <select class="in-drop">
                        <option value="English" class="in-of">Vietnamese</option>
                        <option value="Japanese" class="in-of">Englisgh</option>
                        <option value="French" class="in-of">French</option>
                        <option value="German" class="in-of">German</option>
                    </select>
                </div>
                <div class="down-top top-down">
                    <select class="in-drop">
                        <option value="Dollar" class="in-of">VNĐ</option>
                        <option value="Yen" class="in-of">Dollar</option>
                        <option value="Euro" class="in-of">Euro</option>
                    </select>
                </div>
                <!---->
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div id="fixed-header">
        <div id="bottom-header" class="bottom-header">
            <div class="container">
                <div class="header-bottom-left">
                    <div class="logo">
                        <a href="/trang-chu.html"><img src="/Assets/Client/images/logo.png" alt=" " /></a>
                    </div>
                    <div class="search">
                        <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                        <input type="submit" value="SEARCH">

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="header-bottom-right">
                    <div class="account"><a href="tai-khoan.html"><span> </span>TÀI KHOẢN</a></div>
                    <ul class="login">
                        <li><a href="dang-nhap.html"><span> </span>ĐĂNG NHẬP</a></li> |
                        <li><a href="register.html">THOÁT</a></li>
                    </ul>
                    <div class="cart"><a href="/gio-hang.html"><span> </span>Giỏ hàng</a></div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>


        <!-- begin top menu -->
        <div id="menu-header" class="menu-header">
            <div class="container">
                <ul id="nav">

                    @foreach (var category in Model.Where(x => x.ParentID == null))
                    {
                        var url = "/" + category.Alias + ".pc-" + category.ID + ".html";
                        var childCategories = Model.Where(x => x.ParentID == category.ID);
                        <li>
                            <a href="@url">@category.Name <img src='/Assets/client/images/arrow1.png' @(childCategories.Count() == 0 ? "hidden" : "") alt='' /></a>

                            @if (childCategories.Count() > 0)
                            {
                                <ul>
                                    @foreach (var childCategory in childCategories)
                                    {
                                        var childUrl = "/" + childCategory.Alias + ".pc-" + childCategory.ID + ".html";
                                        var childChildCategories = childCategories.Where(x => x.ParentID == childCategory.ID);
                                        <li>
                                            <a href="@childUrl">@childCategory.Name &raquo;</a>
                                            @if (childChildCategories.Count() > 0)
                                            {
                                                <ul>
                                                    @foreach (var childChildCategory in childChildCategories)
                                                    {
                                                        var childChildUrl = "/" + childChildCategory.Alias + ".pc-" + childChildCategory.ID + ".html";
                                                        <li>
                                                            <a href="@childChildUrl">@childChildCategory.Name &raquo;</a>
                                                        </li>
                                                    }
                                                </ul>
                                            }

                                        </li>

                                    }

                                </ul>
                            }


                        </li>

                    }


                </ul>

                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- end -->
    </div>
</div>
